.card-background-page {
  ion-card {
    position: relative;
  }

  .card-title {
    position: absolute;
    top: 62%;
    left: 5%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    left: 5%;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}
